@value colors: "../styles/_colors.css";
@value off-white, light-grey, dark-grey from colors;

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.75rem;
}

.table thead th,
.table tbody td {
  width: 20%;
  text-align: right;
}

.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
  text-align: left;
}

.table tbody tr {
  border-top: 1px solid off-white;
}

.table th,
.table td {
  padding: 1rem 2rem;
}

.table tbody td:not(:first-child) {
  padding-right: 2.7rem;
}

.table th {
  color: dark-grey;
}

.table td {
  color: light-grey;
}
