@value colors: "../styles/_colors.css";
@value off-white, dark-grey from colors;

.container {
  text-align: left;
  padding: 0 0.25rem;
}

.tag {
  display: inline-block;
  color: dark-grey;
  border: 1px solid off-white;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  font-size: 0.75rem;
}
